/* @font-face {
    font-family: "name";
    src: url("");
} */
body{
    font-size: 18px;
    /* font-family: "name"; */
}


/*     <!-- ***** start header ***** --> */

.point{
    font-size: larger;
    color: red;
    padding: 0 4px;
}
.menu-list{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li{
    padding: 20px 10px ;
}
/*     <!-- ***** end   header ***** --> */


/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
.orange{
    background-color:orange ;
}
.blue{
    background-color:blue ;
}
.green{
    background-color:green ;
}
.violet{
    background-color:violet ;
}
.red{
    background-color:red ;
}

/*     <!-- ***** box shadow ***** --> */
.box-shadow-1{
    /* 32 */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.box-shadow-2{
    /* 70 */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}

 
/* box-feature */
.box-fea{
    padding: 25px 10px;
    border-radius: 8px;
}  
.pad{
    padding: 10px 15px;
}
.p-left10{
    padding-left: 10px;
}  
.p-top-bot10{
    padding-top: 10px;
    padding-bottom: 10PX;
}
.p-top50{
    padding-top: 50PX;
}
.p-bot50{
    padding-bottom: 50PX;
}
.footer , .header{
    height: 100px;
    background-color: gray;
    font-size: 45px;
    text-align: center;
}