/* @font-face {
    font-family: "name";
    src: url("");
} */
body{
    font-size: 18px;
    /* font-family: "name"; */
}

/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
.orange{
    background-color:orange ;
}
.blue{
    background-color:blue ;
}
.green{
    background-color:green ;
}
.violet{
    background-color:violet ;
}
.red{
    background-color:red ;
}

/*     <!-- ***** box shadow ***** --> */
.box-shadow-1{
    /* 32 */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.box-shadow-2{
    /* 70 */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}

.pad{
    padding: 25px 10px;
}    
.footer , .header{
    height: 100px;
    background-color: gray;
    font-size: 45px;
    text-align: center;
}