/* @font-face {
    font-family: "name";
    src: url("");
} */
body {
    font-size: 18px;
    /* color:white; */
    /* font-family: "name"; */
}


/*     <!-- ***** start header ***** --> */
.header {
    height: 400px;
    background-color: gray;
    font-size: 45px;
    text-align: center;
}

.point {
    font-size: larger;
    color: red;
    padding: 4px;
}

.menu-list {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-list li {
    padding: 20px 10px;
}

.header i {
    font-size: 50px;
}

/*     <!-- ***** end   header ***** --> */


/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
/*     <!-- ***** color ***** --> */
.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.violet {
    background-color: violet;
}

.red {
    background-color: red;
}

/*     <!-- ***** box shadow ***** --> */
.box-shadow-1 {
    /* 32 */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box-shadow-2 {
    /* 70 */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


/* box-feature */
.box-fea {
    padding: 25px 10px;
    border-radius: 8px;
}

/*     <!-- ***** footer ***** --> */
/*     <!-- ***** footer part1 ***** --> */
.footer {
    height: 700px;
    background-color: gray;
    color: #fff;
    text-align: center;
}

.titleEmail {
    width: 50%;
    height:100px;
    font-size: 45px;
}

.offset-lg-2 {
    margin-left: 40%;
}


.titleEmail p {
    padding-top: 6px;
    font-weight: bolder;
    margin: 0 5% 0 5%;
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
}

form .email {
    font-size: 15px;
    color: #fff;
    outline: none;
    height: 46px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
}

form button {
    height: 46px;
    border-radius: 23px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    width: 100%;
    transition: all .5s;
}
/*     <!-- ***** footer part2 ***** */
.part2 .contact h4{
    text-decoration: none;
    font-size: 25px;
}
.part2 .contact p a{
    text-decoration: none;
    color: #fff;
}
/*     <!-- ***** footer part3 ***** */
.copyright-text{
    height: 100%;
}
/*     <!-- ***** padding ***** --> */
.pad {
    padding: 10px 15px;
}

.p-left10 {
    padding-left: 10px;
}

.p-top-bot10 {
    padding-top: 10px;
    padding-bottom: 10PX;
}
.p-top-bot20 {
    padding:18px 0;
}

.p-top30 {
    padding-top: 30PX;
}

.p-top50 {
    padding-top: 50PX;
}

.p-bot50 {
    padding-bottom: 50PX;
}

.p-bot10 {
    padding-bottom: 50PX;
}